In [1]:
def greet (name, age):
    print(f"hello {name}, you are {age} years old.")

greet("sam", 26)
greet("neel", 30)

hello sam, you are 26 years old.
hello neel, you are 30 years old.

In [2]:
greet(30, "sam")

hello 30, you are sam years old.

In [5]:
def greet(name, age):
    print(f"hello {name}, you are {age} years old")

In [6]:
greet (age =26, name = "bob")

hello bob, you are 26 years old

In [7]:
def greet(name, age, city):
    print(f"{name}, {age}, from {city}")

In [8]:
greet("Alice", 26, city = "pune")

Alice, 26, from pune

In [9]:
greet("bob", 23, "pune")

bob, 23, from pune

In [10]:
greet(name = "neel", 24, "pune")

SyntaxError: positional argument follows keyword argument (306171912.py, line 1)

In [11]:
def book_flight(source, destination, date, seat_class):
    print(f"Booking from {source} to {destination} on {date} in {seat_class}")

book_flight("nyc","paris", "2025-07-20", "business")

Booking from nyc to paris on 2025-07-20 in business

In [12]:
book_flight(source = "nyc",destination = "paris",date = "2025-07-20", seat_class= "business")

Booking from nyc to paris on 2025-07-20 in business

In [13]:
def greet(name, *, age, city):
    print(f"{name},{age}, from {city}")

In [14]:
greet("alice", age=25, city="pune")

alice,25, from pune

In [15]:
greet("bob",23,"pune")

TypeError: greet() takes 1 positional argument but 3 were given

In [16]:
def greet(name, msg = "Good Afternoon"):
    print(f"hello {name}, {msg}")

greet("satish")

hello satish, Good Afternoon

In [17]:
greet("sam","Good Morning")

hello sam, Good Morning

In [18]:
print(a, b, c, d)

NameError: name 'a' is not defined

In [19]:
def add_numbers(*args):
    print("args=", args)
    print(type(args))
    print("sum = ", sum(args))

In [20]:
add_numbers(1, 2, 3)

args= (1, 2, 3)
<class 'tuple'>
sum =  6

In [21]:
def add_numbers(*args):
    print("args =", args)
    print(type(args))
    print("sum =", sum(args))

In [22]:
add_numbers(1, 2, 3)

args = (1, 2, 3)
<class 'tuple'>
sum = 6

In [23]:
add_numbers(4, 5, 6, 7, 8)

args = (4, 5, 6, 7, 8)
<class 'tuple'>
sum = 30

In [26]:
def greet(message, *names):
    for name in names:
        print(f"{message},{name}!")

In [27]:
greet("hello","bob","sam","neel")

hello,bob!
hello,sam!
hello,neel!

In [34]:
def show_details(**kwargs):
    print("kwargs =", kwargs)
    for key, value in kwargs.items():
        print(f"{key} = {value}")

In [35]:
show_details(name="alice", age =23,city="pune")

kwargs = {'name': 'alice', 'age': 23, 'city': 'pune'}
name = alice
age = 23
city = pune

In [36]:
def demo(*args, **kwargs):
    print("args = ",args)
    print("kwargs =", kwargs)

In [37]:
demo(1, 2, 3, name= "sam",age =25)

args =  (1, 2, 3)
kwargs = {'name': 'sam', 'age': 25}

In [39]:
def complete_example(a, b=10,*args, **kwargs):
    print("a =", a)
    print("b = ",b)
    print("args =",args)
    print("kwargs =", kwargs)

In [ ]:
complete_example(1, 2, 3, 4, )